.main-section {
	background: rgba(0, 0, 0, 0.5);
	min-height: 93vh;
	color: white;
}
.message {
	margin-left: 2em;
	margin-right: 2em;
}
.first-half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	border-bottom: solid white 1px;
}
h2 {
	width: 100%;
}
.aside-paragraph {
	margin: 1em;
}
.second-half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	border-bottom: solid white 1px;
}

.third-half {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
	border-bottom: solid white 1px;
}
