.careers-section {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
	width: 100%;
}

.careers-title {
	color:white;
	padding-top: 20px;
}

.sub-section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.company-container {
	padding: 20px;
}

.company {
	width: 200px;
}
